.Sidebar
  .Sidebar__Header
    .Sidebar__Header__Box
      %p.Sidebar__Header__Box__UserName 
        = current_user.name
      %ul.LeftHeader__iconList
        %li.LeftHeader__Icon
          = link_to '#' do
            = icon('fas', 'edit')
        %li.LeftHeader__Icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .Sidebar__Groups
    .Sidebar__Groups__Group
      .Sidebar__Groups__Group__Name
        techcamp
      .Sidebar__Groups__Group__Message
        まだメッセージはありません
    .Sidebar__Groups__Group
      .Sidebar__Groups__Group__Name
        techcamp
      .Sidebar__Groups__Group__Message
        まだメッセージはありません
    .Sidebar__Groups__Group
      .Sidebar__Groups__Group__Name
        techcamp
      .Sidebar__Groups__Group__Message
        まだメッセージはありません
